.workheading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

.educationWrapper{
  padding: 4rem 0;
  padding-bottom: 2rem;
}

/* timeline styles */
.timeline{
  position:relative;
  margin:2rem auto;
  padding:40px 0;
  width: 80vw;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:85%;
  background:#a8a8a8;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
  font-size: 38px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:#a8a8a8;
  border-radius:50%;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:#a8a8a8;
  border-radius:50%;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
  font-size: 14px;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  width: 150px;
  text-align: center;
  padding:8px 16px;
  border-radius:18px;
  color: #363537;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  width: 150px;
  text-align: center;
  margin:0;
  padding:8px 16px;
  border-radius:18px;
  color: #363537;
}

@media only screen and (max-width: 1200px){
  .timeline{
    width: 80vw;
  }
}
/* ********************************* */

@media only screen and (max-width: 850px){

  .workheading{
    font-size: 45px;
  }

  .line{
    width: 100%;
    height: 2px;
    margin: 1rem 0;
  }
  .skillList{
    padding: 1rem 3rem;
  }
  .aboutText{
    text-align: left;
    width: 70%;
    position: static;
  }

  /* timeline */
  .timeline{
    width: 90vw;
    padding-bottom: 0;
  }

  .timeline:before{
    left:20px;
    top: 10px;
    height:90%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
  /* **************************** */
}

@media only screen and (max-width: 535px){

  .workheading{
    font-size: 40px;
  }
  .homeWorkSection{
    padding: 1rem;
  }

}

